<!DOCTYPE html>
<html lang="tr" ng-app="myAngularJSApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Component App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>

<body>

    <!-- Ana Kontrolcümüz (Parent) tüm bu alanı yönetir -->
    <div class="container" ng-controller="MainController as vm">
        <h1 class="mb-4">Hava Durumu ve Şehir Görseli</h1>

        <!-- Arama Formu-->
        <form name="weatherForm" ng-submit="weatherForm.$valid && vm.getWeather()" novalidate>
            <div class="form-group">
                <label for="cityInput">Şehir Adı Girin</label>
                <input type="text" id="cityInput" name="cityInput" class="form-control" ng-model="vm.city"
                    placeholder="Örn: İstanbul" required>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="!vm.isReady">
                {{vm.isReady ? 'Bilgileri Getir ' : 'Yükleniyor... '}}
            </button>
        </form>

        <hr>

        <!-- Yükleniyor ve Hata Mesajları -->
        <div ng-show="vm.loading" class="alert alert-info">
            Veriler yükleniyor, lütfen bekleyin...
        </div>
        <div ng-show="weatherForm.cityInput.$dirty && weatherForm.cityInput.$error.required" class="alert alert-danger">
            Lütfen bir şehir adı giriniz.
        </div>
        <div ng-show="vm.error" class="alert alert-danger">
            {{ vm.error }}
        </div>


        <!-- Bu ana div, sadece sonuçlar başarılı bir şekilde geldiğinde görünür -->
        <div ng-if="vm.result && !vm.error">

            <weather-display weather-info="vm.result.weatherData"></weather-display>
            <image-display image-info="vm.result.imageData"></image-display>
            <chart-display weather-info="vm.result.weatherData"></chart-display>

        </div>

    </div>

    <!-- Script dosyaları -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-chart.js@1.1.1/dist/angular-chart.min.js"></script>
     <script src="app.js"></script>
</body>

</html>