
<div class="card weather-card">
    <div class="card-body">
        <h3 class="card-title">
            {{ vm.weatherInfo.city }} 
            <img ng-src="{{ vm.weatherInfo.iconUrl }}" alt="Hava Durumu İkonu">
        </h3>
        <p class="card-text">Sıcaklık: 
        <strong>{{ vm.weatherInfo.temp.c }} °C</strong>
        <strong>{{ vm.weatherInfo.temp.f }} °F</strong>
        </p>
        <p class="card-text">Açıklama: <strong>{{ vm.weatherInfo.description }}</strong></p>
        <p class="card-text">Nem: <strong>%{{ vm.weatherInfo.humidity }}</strong></p>
        <p class="card-text">Rüzgar Hızı: <strong>{{ vm.weatherInfo.windSpeed }} m/s</strong></p>
        <p class="card-text">Hissedilen: 
        <strong>{{ vm.weatherInfo.feelsLike.c }} °C</strong>
        <strong>{{ vm.weatherInfo.feelsLike.f }} °F</strong>
    </p>

        
    </div>
</div>